/* Restyling the book classes for our top menu */
.book {
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 1;
}

/* extra classes for menu which can't be in header.css since we use a "sticky" menu here */
.header {
    max-height: none;
    overflow: visible;
    position: absolute;
    z-index: 5 !important;
}

/* styling page */
.book .book-body .page-wrapper .page-inner {
    max-width: 90%
}
.book .book-body .page-inner section,
.book .book-summary ul.summary li a {
    font-size: 16px;
}

/* styling sidebar */
.book .book-summary ul.summary li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.book .book-summary ul.summary li > ul.articles {
    display: none;
}

.book .book-summary ul.summary li.active > a {
    font-weight: bold;
}

.book .book-summary ul.summary li > ul.expanded,
.book .book-summary ul.summary li.active > ul {
    display: block;
}

.book .book-summary ul.summary > li.active,
.book .book-summary ul.summary > li.active-parent {
    background: white;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}

.color-theme-1 .book-summary ul.summary > li.active,
.color-theme-1 .book-summary ul.summary > li.active-parent,
.color-theme-2 .book-summary ul.summary > li.active,
.color-theme-2 .book-summary ul.summary > li.active-parent {
    background: #222;
    border-top-color: black;
    border-bottom-color: black;
}

.book .book-summary ul.summary > li.active:first-child {
    border-top-color: transparent;
}

/* accessible */
.book .book-body .page-wrapper .page-inner section.normal a {
    text-decoration: underline;
    color: #085DAD;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover,
.book .book-body .page-wrapper .page-inner section.normal a:focus {
    text-decoration: none;
}

/* credits */
.book .book-summary ul.summary .gitbook-link {
    font-size: 13px;
}