/* Restyling the book classes for our top menu */
.book {
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 1;
}

/* extra classes for menu which can't be in header.css since we use a "sticky" menu here */
.header {
    max-height: none;
    overflow: visible;
    position: absolute;
    z-index: 5 !important;
}

/**/
.book .book-body .page-wrapper .page-inner {
    max-width: 90%
}
.book.font-size-2 .book-body .page-inner section {
    font-size: 16px;
}

.book .book-summary {
    border: none;
}

.expanded {
    background: white;
    color: #222;
}



.book .book-summary ul.summary {
    background: #085DAD;
}

.book .book-summary ul.summary li a {
    font-size: 16px;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li.done > a {
    color: white
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li a:focus,
.book .book-summary ul.summary li.done > a:hover,
.book .book-summary ul.summary li.done > a:focus {
    background: white;
    color: #115FAB;
}

.book .book-summary ul.summary li li a:hover,
.book .book-summary ul.summary li li a:focus {
    text-decoration: underline;
}

.book .book-summary ul.summary li > ul.articles {
    display: none;
}

.book .book-summary ul.summary li.active {
    background-color: #ffffff
}

.book .book-summary ul.summary li.active ul.articles li.chapter a,
.book .book-summary ul.summary li.active > a {
    color: #000000
}

.book .book-summary ul.summary li.active ul.articles {
    display: block;
    background-color: white;
}

.book .book-summary ul.summary ul.expanded li.chapter > a {
    color: #222;
}

.book .book-summary ul.summary li.active > a {
    font-weight: bold;
}