/* Restyling the book classes for our top menu */
.book {
  position: absolute;
  top: 81px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 1;
}

/* extra classes for menu which can't be in header.css since we use a "sticky" menu here */
.header {
  max-height: none;
  overflow: visible;
  position: absolute;
  z-index: 5 !important;
}